{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="description" content="{% block metadescription %}{% endblock %}">
      <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'css/top-navbar.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.min.css' %}" >
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      {% block custom_static %}{% endblock custom_static %}
      <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container-fluid my_navbar">
        {% include 'top-navbar.html' %}
    </div>
    {% block content %}
    {% endblock %}

    <div>
        {% include 'footer.html' %}
    </div>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block custom_js %}{% endblock custom_js %}
</body>
</html>