* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.my_navbar {
    background-color: #e120e033;
    height: 100%;
}

/****footer****/
.my_footer{
    background-color: #e120e033;
    height: 60px;
}

.my_footer p {
    padding-top: 20px;
    font-size: 14px;
}
