{% extends "base.html" %}

{% load static %}

{% block title %}Log-in{% endblock %}
{% block custom_static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" >
{% endblock %}

{% block content %}
<div class="content_box">
    <div class="card">
        <div class="card-header">
            <h1>HOME WORKER</h1>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div id="id_error" class="set_error">Your username and password didn't match. Please try again.</div>
            {% endif %}
            <div class="login-form">
                <form action="{% url 'login' %}" method="post" novalidate>
                    {{ form.username }}
                    {{ form.password }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                     <div class="card-footer">
                         <input type="submit" value="Login" class="auth-box" id="id_submit">
                     </div>
                </form>
                <div class="password-reset">
                    <a href="{% url 'password_reset' %}">Forgotten your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/snow.js' %}"></script>
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}