{% extends "base.html" %}

{% load static %}

{% block title %}Reset your password{% endblock %}

{% block custom_static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" >
{% endblock %}


{% block content %}
<div class="content_box">
  <div class="card">
    <div class="card-header">
      <h1>Reset your password</h1>
    </div>
    <div class="card-body">
    {% if validlink %}
      <p>Please enter your new password twice:</p>
      <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
    </div>
        <div class="card-footer">
          <div><input type="submit" value="Change my password" class="auth-box" id="id_submit" /></div>
        </div>
      </form>
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>
{% endblock %}