{% extends "base.html" %}

{% load static %}

{% block title %}Reset your password{% endblock %}
{% block custom_static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" >
{% endblock %}

{% block content %}
<div class="content_box">
  <div class="card">
    <div class="card-header">
      <h1>Forgotten your password?</h1>
    </div>
    <div class="card-body">
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
      {{ form.email }}
      <div class="card-footer">
        <p><input type="submit" value="Send e-mail" class="auth-box" id="id_submit"></p>
      </div>
      {% csrf_token %}
    </form>
    </div>
  </div>
</div>
{% endblock %}s