{% extends "base.html" %}
{% load static %}

{% block title %}kakeibo{% endblock %}
{% block custom_static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/kakeibo.css' %}" >
{% endblock %}

{% block content %}
    <div class="col-md-12 col-md-offset-3 calc jumbotron">
        <div class="text-center">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags  == "error" %} class="alert alert-danger" {% else %} class="alert alert-success"  {% endif %} role="alert">
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1>KAKEIBO</h1>
            <form action="#" method="POST" class="form-area" snovalidate>
                {{form.category}}
                {{form.item}}
                {{form.credit}}
                {% csrf_token %}
                {% if form.errors %}
                    <div class="form-group has-error">
                        <div class="help-block">
                            {{ form.text.errors }}
                        </div>
                    </div>
                {% endif %}
                <input type="submit" value="INPUT CREDIT" class="auth-box btn btn-primary col-md-12 input-lg " id="id_submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/kakeibo.js' %}"></script>
{% endblock custom_js %}