{% extends "base.html" %}

{% load static %}

{% block title %}Create an account{% endblock %}

{% block custom_static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}" >
{% endblock %}


{% block content %}
<div class="content_box register_box">
    <div class="card">
        <div class="card-header">
            <h1>Create an account</h1>
        </div>
        <div class="card-body register-body">
            <p>Please, sign up using the following form:</p>
            <form action="." method="post" novalidate>
                {{ user_form.username }}
                {{ user_form.first_name }}
                {{ user_form.email }}
                {{ user_form.password }}
                {{ user_form.password2 }}
                {% csrf_token %}
            <div class="card-footer">
                <div><input type="submit" value="Create my account" class="auth-box" id="id_submit"></div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}